<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dashboard | Ciudad Inteligente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>

<header>
    <h1>Dashboard en Tiempo Real</h1>
</header>

<section id="dashboard">
    <iframe 
        src="https://app.powerbi.com/view?r=eyJrIjoiMDAzMTlhYjctZTA5YS00MzY0LWIwMGItMjcyNjllM2YyMGQ1IiwidCI6IjA3ZGE2N2EwLTFmNDMtNGU4Yy05NzdmLTVmODhiNjQ3MGVlNiIsImMiOjR9"
        allowFullScreen="true">
    </iframe>
</section>

</body>
</html>
